@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,300,700|Montserrat:400,700);

body {
	background-color: #a2d8e2 !important;
}

.navbar {
	background: #0097d5;
	border-bottom: 5px solid #0078c4;
	padding: 0px !important;
}

.navbar-light .navbar-nav .nav-link {
	font-family: 'Oswald', sans-serif;
	color: #FFF !important;
	padding: 0.5rem 0.5rem !important;
	line-height: 2 !important;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
	background: url(./assets/selector.png) no-repeat center bottom;
}

@media only screen and (max-width: 990px) {
	.navbar-light .navbar-nav .nav-link:hover,
	.navbar-light .navbar-nav .nav-link.active {
		background: url(./assets/selector_side.png) no-repeat left center !important;
	}
}

.header-image {
	background: url(./assets/header.png) no-repeat center top;
}

.navbar-footer {
	background-color: #f7a80f;
	background: -moz-linear-gradient(top,  #f7a80f 0%, #fa940c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7a80f), color-stop(100%,#fa940c));
	background: -webkit-linear-gradient(top,  #f7a80f 0%,#fa940c 100%);
	background: -o-linear-gradient(top,  #f7a80f 0%,#fa940c 100%);
	background: -ms-linear-gradient(top,  #f7a80f 0%,#fa940c 100%);
	background: linear-gradient(to bottom,  #f7a80f 0%,#fa940c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a80f', endColorstr='#fa940c',GradientType=0 );
	color: #FFF;
	font-weight: 300;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	font-family: 'Oswald', sans-serif;
}

.badge-madrigal {
	font-weight: bold;
	background-color: #c67200;
}
.badge-lord,
.badge-siege,
.badge-mvp {
	color: #FFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	background-color: #f7a80f;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-size: 25px 25px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
	border: 1px solid #f7a80f;
	position: relative;
	z-index: 0;
}
.badge-lord > span {
	position: relative;
	z-index: 2;
}
.badge-lord:before {
	content: "";
	position: absolute;
	background: url(./assets/crown.png) no-repeat;
	width: 50px;
	height: 64px;
	left: -5px;
	top: 3px;
	transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	box-shadow: 0px 0px 0px #000;
	z-index: 1;
}
.badge-siege:before {
	content: "";
	position: absolute;
	background: url(./assets/trophy.png) no-repeat;
	width: 50px;
	height: 64px;
	left: -5px;
	top: 3px;
	transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	box-shadow: 0px 0px 0px #000;
	z-index: 1;
}
.badge-mvp:before {
	content: "";
	position: absolute;
	background: url(./assets/medal.png) no-repeat;
	width: 50px;
	height: 64px;
	left: -5px;
	top: 3px;
	transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	box-shadow: 0px 0px 0px #000;
	z-index: 1;
}

.badge-madrigal-online {
	color: #42df18
}
.badge-madrigal-offline {
	color: #df1818;
}

.mh-list-group-item {
	background-color: transparent !important;
	border: 0px !important;
	padding: 0.75rem 0.5rem !important;
}

.mh-header {
	background-color: #0097d5;
	border-bottom: 5px solid #0078c4;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	font-family: 'Oswald', sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
}
.mh-text-container {
	background: #f3f3f3;
	border-bottom: 5px solid #cccccc;
}

.article-link:hover,
.article-link:active,
.article-link:focus {
	text-decoration: none;
}

.mh-text-container > .rs-placeholder-active .rs-placeholder-paragraph-rows > p {
	background: linear-gradient(-45deg, #3c3f43 25%, #484c50 37%, #3c3f43 63%) !important;
}

footer#footer {
	bottom: 0;
	left: 0;
	right: 0;
	height: 471px;
	background: url(./assets/footer2.jpg) no-repeat top center;
	z-index: -1;
	color: #FFF;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}

.store-item {
	cursor: pointer;
}

.store-item {
	float: left;
	width: 20%;
	height: 120px;
	text-align: center;
}

/*
.store-item {
	cursor: pointer;
	position: relative;
	padding: 5px;
	border: 1px solid transparent;
}
.store-item:hover {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid grey;
	border-radius: 5px;
}
*/