@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,300,700|Montserrat:400,700);

html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 300px;
	font-family: 'Open Sans', sans-serif;
	background: url(./assets/header.jpg) no-repeat center top #a2d8e2;
}

h1, h2, h3, h4 {
	margin: 0px;
}
.cell.sidebar section .text-container p:first-of-type {
	margin-top: 0px;
}
table tr th {
	text-align: left;
}
table {
	font-size: 13px;
}

/***************************/
/******** HEADER ***********/
/***************************/
header {
	height: 250px;
	width: 960px;
	margin: auto;
	background: url(./assets/header2.png) no-repeat center top;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	position: relative;
	overflow: hidden;
}
header .characters {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 250px;
	width: 960px;
	background: url(./assets/characters.png) no-repeat center top;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
header video {
	width: 960px;
	position: absolute;
	top: -140px;
	left: 0;
	right: 0;
	z-index: -1;
}
header h1 {
	margin: 0;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    padding-top: 80px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
header h1 small {
	display: block;
	font-size: 15px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

/***************************/
/****** NAVIGATION *********/
/***************************/
nav {
	margin: auto;
	width: 100%;
	background: #0097d5;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	position: relative;
	border-bottom: 5px solid #0078c4;
}
nav ul {
	list-style: none;
	margin: auto;
	padding: 0;
	display: block;
	width: 960px;
}
nav ul li {
	display: inline-table;
	position: relative;
}
nav ul li a {
	display: table-cell;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}
nav ul li a:hover,
nav ul li a.active {
	color: #6cd5ff;
	text-decoration: none;
	position: relative;
	background: url(./assets/selector.png) no-repeat center bottom;
}
nav ul.main-nav li:hover > ul {
	display: block;
	opacity: 1;
}
nav ul li ul {
	display: none;
	opacity: 0;
	position: absolute;
	top: 43px;
	z-index: 99999;
	background: #0078c4;
	max-width: 250px;
	left: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
nav ul li ul li {
	display: block;
}
nav footer {
	position: relative;
	border-top: 5px solid #0078c4;
	background: #f7a80f;
	background: -moz-linear-gradient(top,  #f7a80f 0%, #fa940c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7a80f), color-stop(100%,#fa940c));
	background: -webkit-linear-gradient(top,  #f7a80f 0%,#fa940c 100%);
	background: -o-linear-gradient(top,  #f7a80f 0%,#fa940c 100%);
	background: -ms-linear-gradient(top,  #f7a80f 0%,#fa940c 100%);
	background: linear-gradient(to bottom,  #f7a80f 0%,#fa940c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a80f', endColorstr='#fa940c',GradientType=0 );
	padding: 10px;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	font-weight: 300;
	text-transform: uppercase;
	height: auto;
	z-index: 1;
}
nav footer a {
	color: #F3F3F3;
	border-bottom: 1px dashed #F3F3F3;
	text-decoration: none;
}
nav footer a:hover {
	color: #CCC;
	border-bottom: 1px dashed #CCC;
}
nav footer span {
	font-weight: bold;
	background: #c67200;
	border-radius: 6px;
	padding: 3px 8px;
	margin: 0px 20px 0px 5px;
	position: relative;
}
nav footer span a {
	text-decoration: none;
	border-bottom: 0px;
}
nav footer span a:hover {
	text-decoration: none;
	border-bottom: 0px;
}
nav footer span i {
	font-size: 20px;
	cursor: default;
}
span[title="Online"],
span[title="Online"]:hover {
	color: #42df18 !important;
}
span[title="Offline"],
span[title="Offline"]:hover {
	color: #df1818 !important;
}
nav footer div {
	display: inline-table;
}
.ui-tooltip {
	font-size: 11px !important;
}

/***************************/
/**** MOBILE NAVIGATION ****/
/***************************/
ul.mobile-nav {
	display: none;
}
ul.mobile-nav li ul {
	display: none;
	width: 100%;
}
ul.mobile-nav li ul li a:hover,
ul.mobile-nav li ul li a.active {
	color: #6cd5ff;
	text-decoration: none;
	position: relative;
	background: transparent;
}
ul.mobile-nav li ul li {
	display: block;
}

/***************************/
/******* CONTAINER *********/
/***************************/
.container {
	width: 960px;
	margin: auto;
}

/***************************/
/********* CELLS ***********/
/***************************/
.cell {
	float: left;
	color: #FFF;
}
.cell section {
	color: #000;
	margin-top: 20px;
}
.cell section .text-container {
	padding: 15px;
	background: #f3f3f3;
	border-bottom: 5px solid #cccccc;
}
.cell section .text-container a {
	text-decoration: none;
	color: #428BCA;
}
.cell section .text-container a:hover {
	color: #2a6496;
}
.cell section .text-container p,
.cell section .text-container a,
.cell section .text-container b,
.cell section .text-container strong {
	font-size: 13px;
}
.cell section .title {
	background: #0097d5;
	border-bottom: 5px solid #0078c4;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	font-family: 'Oswald', sans-serif;
	color: #FFF;
	letter-spacing: 1px;
}
.cell section .title h2 {
	margin: 0px;
	padding: 8px 15px;
}
.cell.main {
	width: 74%;
}
.cell.sidebar {
	width: 24%;
	margin-right: 19px;
}

.cell section .text-container .forgot-box {
	margin-top: 10px;
}
.cell section .text-container .forgot-box a {
	font-size: 11px !important;
}

/***************************/
/***** FORMS & INPUTS ******/
/***************************/
input {
	display: block;
	border: 1px solid #CCC;
	padding: 5px;
	margin: 0px 5px 5px 0px;
	border-radius: 5px;
}
input[type="submit"],
input[type="button"],
button {
	border: 0px;
}
input.full-width {
	width: calc(100% - 14px);
}
input[type="text"]:active,
input[type="password"]:active,
input[type="email"]:active,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
	border: 1px solid #0097d5;
}
input[type="submit"].half-width,
button.half-width {
	width: 48%;
}

/***************************/
/******** DONATIONS ********/
/***************************/
.donate-amount {
	border: 1px solid #CCC;
	background: #F3F3F3;
	text-align: center;
	float: left;
	padding: 10px;
}
.donate-amount input,
.donate-amount label {
	display: block;
}

.donation-box {
	float: left;
	width: 50%;
}

#pp-donate label,
#pp-donate input[type="radio"] {
	float: left;
}

.dbtn {
	margin: 20px 0px;
	border-radius: 4px;
	padding: 8px;
	text-transform: uppercase;
	width: 200px;
	overflow: hidden;
	cursor: pointer;
	white-space: nowrap;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
}
.dbtn span.method {
	display: block;
	padding-left: 45px;
	transition: all 0.5s ease-in-out;
}
.dbtn span.method:before {
	content: "Donate with";
	display: block;
	font-size: 0.65em;
}
.dbtn:hover > span.method {
	padding-left: 300px;
}

/* PayPal */
.dbtn.paypal {
	/*background: url(../img/paypal.png) no-repeat scroll 10px 11px / 29px 33px, linear-gradient(-179deg, #009CDE 0%, #007BDE 100%) repeat scroll 0% 0% transparent;*/
	border: 1px solid #c0cef8;
	color: #FFF;
	transition: all 0.35s ease-in-out;
}
.dbtn.paypal:hover {
	/*background: url(../img/paypal.png) no-repeat scroll 90px 11px / 29px 33px, linear-gradient(-179deg, #009CDE 0%, #007BDE 100%) repeat scroll 0% 0% transparent;*/
}

/* PaymentWall */
.dbtn.paymentwall {
	/*background: url(../img/paymentwall.png) no-repeat scroll 4px 10px / 50px 33px, #272515;*/
	border: 1px solid #3f3f3f;
	color: #FFF;
	transition: all 0.35s ease-in-out;
}
.dbtn.paymentwall:hover {
	/*background: url(../img/paymentwall.png) no-repeat scroll 80px 10px / 50px 33px, #272515;*/
}

/* Bitcoin */
.dbtn.bitcoin {
	/*background: url(../img/bitcoin.png) no-repeat scroll 10px 9px / 33px 33px, linear-gradient(#F4CA5D, #F4B840);*/
	border: 1px solid #f8e9c0;
	color: #333;
	transition: all 0.35s ease-in-out;
	position: relative;
}
.dbtn.bitcoin:hover {
	/*background: url(../img/bitcoin.png) no-repeat scroll 90px 9px / 33px 33px, linear-gradient(#F4CA5D, #F4B840);*/
	/*background: url(../img/bitcoin.png) no-repeat scroll 220px 9px / 33px 33px, linear-gradient(#F4CA5D, #F4B840);*/
}
.dbtn.bitcoin:hover:after {
	content: "COMING SOON!";
	position: absolute;
	top: 17px;
	left: 40px;
}

/***************************/
/********* BUTTONS *********/
/***************************/
.btn {
	text-decoration: none;
	color: #FFF !important;
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 5px;
	float: left;
	cursor: pointer;
}
.btn-small {
	text-decoration: none;
	color: #FFF !important;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 5px;
	float: left;
}
.btn-group {
	margin: 5px;
	float: left;
}

/* Aqua */
.btn-aqua {
	background: #50c1e9;
	box-shadow: 0px 5px 0px #44a3c3;
}
.btn-group .btn-aqua:nth-child(odd) {
	background: #4ab5d9;
	border-right: #46a3c4;
	border-radius: 5px 0px 0px 5px;
	margin: 0px;
	float: left;
}
.btn-group .btn-aqua:nth-child(even) {
	border-radius: 0px 5px 5px 0px;
	float: left;
	background: #50c1e9;
	box-shadow: 0px 5px 0px #44a3c3;
}

/* Green */
.btn-green {
	background: #40c969;
	box-shadow: 0px 5px 0px #33a053;
}
.btn-group .btn-green:nth-child(odd) {
	background: #3bb860;
	border-right: 1px solid #37ad5a;
	border-radius: 5px 0px 0px 5px;
	margin: 0px;
	float: left;
}
.btn-group .btn-green:nth-child(even) {
	background: #40c969;
	box-shadow: 0px 5px 0px #33a053;
	border-radius: 0px 5px 5px 0px;
	float: left;
}

/* Red */
.btn-red {
	background: #ec4e39;
	box-shadow: 0px 5px 0px #b93e2d;
}
.btn-group .btn-red:nth-child(odd) {
	background: #d64734;
	border-right: 1px solid #c64230;
	border-radius: 5px 0px 0px 5px;
	margin: 0px;
	float: left;
}
.btn-group .btn-red:nth-child(even) {
	background: #ec4e39;
	box-shadow: 0px 5px 0px #b93e2d;
	border-radius: 0px 5px 5px 0px;
	float: left;
}

/* Blue */
.btn-blue {
	background: #398dec;
	box-shadow: 0px 5px 0px #2b6bb2;
}
.btn-group .btn-blue:nth-child(odd) {
	background: #3482d9;
	border-right: 1px solid #2f75c4;
	border-radius: 5px 0px 0px 5px;
	margin: 0px;
	float: left;
}
.btn-group .btn-blue:nth-child(even) {
	background: #398dec;
	box-shadow: 0px 5px 0px #2b6bb2;
	border-radius: 0px 5px 5px 0px;
	float: left;
}

/* Lime */
.btn-lime {
	background: #9fd95d;
	box-shadow: 0px 5px 0px #7fae4b;
}
.btn-group .btn-lime:nth-child(odd) {
	background: #8dc153;
	border-radius: 5px 0px 0px 5px;
	border-right: 1px solid #81b04c;
	margin: 0px;
	float: left;
}
.btn-group .btn-lime:nth-child(odd) {
	background: #9fd95d;
	box-shadow: 0px 5px 0px #7fae4b;
	border-radius: 0px 5px 5px 0px;
	float: left;
}

/***************************/
/***** NEWS CONTAINER ******/
/***************************/
table.news-container tr td:nth-child(odd) {
	width: 20%;
}
table.news-container tr td:nth-child(even) {
	font-size: 16px;
	width: 80%;
}
table.news-container {
	width: 100%;
}

#accordion h3 {
	background: #3b3b3b;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.1) inset, 0px 15px 30px rgba(255, 255, 255, 0.2) inset;
	padding: 8px 8px 8px 30px;
	font-size: 16px;
	line-height: 25px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
#accordion h3 span {
	float: right;
}
#accordion div {
	padding: 0px 10px;
	font-size: 13px;
}
#accordion div div {
	padding: 0px 0px;
}
#accordion div small,
#accordion div small a {
	line-height: 5px;
	font-size: 10px;
}
#accordion img {
	max-width: 657px;
}

span.ui-dialog-title {
	font-size: 13px;
}

/***************************/
/********** ADS ************/
/***************************/
.advert {
	width: 960px;
	display: block;
	margin-top: 20px;
	text-align: center;
}

/***************************/
/********** VOTE ***********/
/***************************/
#vote-panel {
	font-size: 12px;
}
.vote_item {
	float: left;
}
.vote_itemlabel {
	float: left;
	font-size: 12px;
}

span.news-icon {
	background: #3289d9;
	border: 1px solid #3083d1;
	color: #FFF;
	padding: 0px 5px;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	position: relative;
	text-shadow: none;
}
span.maintenance-icon {
	background: #d3312c;
	border: 1px solid #c72e29;
	color: #FFF;
	padding: 0px 5px;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	text-shadow: none;
}
span.update-icon {
	background: #3fc969;
	border: 1px solid #3cb860;
	color: #FFF;
	padding: 0px 5px;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	text-shadow: none;
}
span.event-icon {
	background: #F7A80F;
	border: 1px solid #F7A80F;
	color: #FFF;
	padding: 0px 5px;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	position: relative;
	text-shadow: none;
}

/***************************/
/******* GUILD SIEGE *******/
/***************************/
table.siege-table {
	font-size: 13px;
	width: 100%;
	margin-top: 10px;
}
table.siege-table tr th {
	font-weight: normal;
}
/*table.siege-table tr td {
	font-weight: bold;
	background: #F7A80F;
	border-radius: 6px;
	padding: 3px 8px;
	color: #FFF;
}*/

.siege-info {
	margin-top: 10px;
	color: #FFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
	float: left;
	width: calc(100% - 1%);
	border-radius: 5px;
	background-color: #f7a80f;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-size: 25px 25px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
	border: 1px solid #f7a80f;
	text-align: center;
	position: relative;
	cursor: default;
}
.siege-info span:first-of-type {
	font-size: 18px;
	font-weight: bold;
}
.siege-info span {
	display: block;
}

.siege-info.trophy:before {
	content: "";
	position: absolute;
	background: url(./assets/trophy.png) no-repeat;
	width: 50px;
	height: 52px;
	left: -5px;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	box-shadow: 0px 0px 0px #000;
}
.siege-info.medal:before {
	content: "";
	position: absolute;
	background: url(./assets/medal.png) no-repeat;
	width: 50px;
	height: 64px;
	left: -5px;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	box-shadow: 0px 0px 0px #000;
}
.siege-info.crown:before {
	content: "";
	position: absolute;
	background: url(./assets/crown.png) no-repeat;
	width: 50px;
	height: 64px;
	left: -5px;
	transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	box-shadow: 0px 0px 0px #000;
}

/***************************/
/****** FLYFF CLASSES ******/
/***************************/
/* FlyFF v6 class icons by iPwn/Scrath */
/* Thanks to him for providing them on RZ */
.class {
	width: 32px;
	height: 32px;
	/*background-image: url(../img/classes.png);*/
}
.class.small {
	width: 16px !important;
	height: 16px !important;
	/*background-image: url(../img/classes.png);*/
}
.class.third {
	width: 25px !important;
	height: 25px !important;
	/*background-image: url(../img/classes.png);*/
}
span.class,
span.classes,
span.class.small,
span.class.third,
span.ply {
	display: block;
}

.ply {
	width: 16px;
	height: 16px;
	/*background-image: url(../img/classes.png);*/
}
.ply.online {
	background-position: -190px -236px;
}
.ply.offline {
	background-position: -190px -221px;
}

/* Male class icons */
/* 1st job / vagrant */
.class.vagrant {
	background-position: 0px 0px;
}
.class.mercenary {
	background-position: -32px 0px;
}
.class.acrobat {
	background-position: -64px 0px;
}
.class.assist {
	background-position: -96px 0px;
}
.class.magician {
	background-position: -128px 0px;
}
.class.small.vagrant {
	background-position: 0px -66px;
}
.class.small.mercenary {
	background-position: -16px -66px;
}
.class.small.acrobat {
	background-position: -32px -66px;
}
.class.small.assist {
	background-position: -48px -66px;
}
.class.small.magician {
	background-position: -64px -66px;
}

/* 2nd job */
.class.knight {
	background-position: 0px -158px;
}
.class.blade {
	background-position: -32px -158px;
}
.class.jester {
	background-position: -64px -158px;
}
.class.ranger {
	background-position: -96px -158px;
}
.class.ringmaster {
	background-position: -128px -158px;
}
.class.billposter {
	background-position: -160px -158px;
}
.class.psykeeper {
	background-position: -192px -158px;
}
.class.elementor {
	background-position: -224px -158px;
}
.class.small.knight {
	background-position: 0px -221px;
}
.class.small.blade {
	background-position: -16px -221px;
}
.class.small.jester {
	background-position: -32px -221px;
}
.class.small.ranger {
	background-position: -48px -221px;
}
.class.small.ringmaster {
	background-position: -64px -221px;
}
.class.small.billposter {
	background-position: -80px -221px;
}
.class.small.psykeeper {
	background-position: -96px -221px;
}
.class.small.elementor {
	background-position: -112px -221px;
}

/* Female class icons */
/* 1st job / vagrant */
.class.vagrant.female {
	background-position: 0px -32px;
}
.class.mercenary.female {
	background-position: -32px -32px;
}
.class.acrobat.female {
	background-position: -64px -32px;
}
.class.assist.female {
	background-position: -96px -32px;
}
.class.magician.female {
	background-position: -128px -32px;
}
.class.small.vagrant.female {
	background-position: 0px -82px;
}
.class.small.mercenary.female {
	background-position: -16px -82px;
}
.class.small.acrobat.female {
	background-position: -32px -82px;
}
.class.small.assist.female {
	background-position: -48px -82px;
}
.class.small.magician.female {
	background-position: -64px -82px;
}

/* 2nd job */
.class.knight.female {
	background-position: 0px -190px;
}
.class.blade.female {
	background-position: -32px -190px;
}
.class.jester.female {
	background-position: -64px -190px;
}
.class.ranger.female {
	background-position: -96px -190px;
}
.class.ringmaster.female {
	background-position: -128px -190px;
}
.class.billposter.female {
	background-position: -160px -190px;
}
.class.psykeeper.female {
	background-position: -192px -190px;
}
.class.elementor.female {
	background-position: -224px -190px;
}
.class.small.knight.female {
	background-position: 0px -236px;
}
.class.small.blade.female {
	background-position: -16px -236px;
}
.class.small.jester.female {
	background-position: -32px -236px;
}
.class.small.ranger.female {
	background-position: -48px -236px;
}
.class.small.ringmaster.female {
	background-position: -64px -236px;
}
.class.small.billposter.female {
	background-position: -80px -236px;
}
.class.small.psykeeper.female {
	background-position: -96px -236px;
}
.class.small.elementor.female {
	background-position: -112px -236px;
}

/***************************/
/**** FLYFF GUILD ICONS ****/
/***************************/
/* FlyFF v6 guild icons by iPwn/Scrath */
/* Thanks for him for providing them on RZ */
.gicon {
	width: 16px;
	height: 16px;
	/*background-image: url(../img/classes.png);*/
}
span.gicon {
	display: block;
}
.gicon.star {
	background-position: -1px -141px;
}
.gicon.ace {
	background-position: -17px -141px;
}
.gicon.square {
	background-position: -33px -141px;
}
.gicon.heart {
	background-position: -49px -141px;
}
.gicon.cross {
	background-position: -65px -141px;
}

/***************************/
/*** HERO / MASTER ICONS ***/
/***************************/
.class.hero {
	background-position: -127px -221px;
}
.class.master {
	background-position: -154px -221px;
}

/***************************/
/**** NEW CLASS SPRITES ****/
/***************************/
.classes {
	width: 47px;
	height: 47px;
	/*background-image: url(../img/class-sprites.png);*/
}

.classes.vagrant {
	background-position: 0px 0px;
}
.classes.acrobat {
	background-position: 0px -47px;
}
.classes.ranger {
	background-position: -47px -47px;
}
.classes.masterranger {
	background-position: -94px -47px;
}
.classes.heroranger {
	background-position: -141px -47px;
}
.classes.crackshooter {
	background-position: -188px -47px;
}
.classes.jester {
	background-position: -235px -47px;
}
.classes.masterjester {
	background-position: -282px -47px;
}
.classes.herojester {
	background-position: -329px -47px;
}
.classes.harlequin {
	background-position: -376px -47px;
}
.classes.assist {
	background-position: 0px -94px;
}
.classes.ringmaster {
	background-position: -47px -94px;
}
.classes.masterringmaster {
	background-position: -94px -94px;
}
.classes.heroringmaster {
	background-position: -141px -94px;
}
.classes.seraph {
	background-position: -188px -94px;
}
.classes.billposter {
	background-position: -235px -94px;
}
.classes.masterbillposter {
	background-position: -282px -94px;
}
.classes.herobillposter {
	background-position: -329px -94px;
}
.classes.forcemaster {
	background-position: -376px -94px;
}
.classes.magician {
	background-position: 0px -141px;
}
.classes.psykeeper {
	background-position: -46px -141px;
}
.classes.masterpsykeeper {
	background-position: -94px -141px;
}
.classes.heropsykeeper {
	background-position: -141px -141px;
}
.classes.mentalist {
	background-position: -188px -141px;
}
.classes.elementor {
	background-position: -235px -141px;
}
.classes.masterelementor {
	background-position: -282px -141px;
}
.classes.heroelementor {
	background-position: -329px -141px;
}
.classes.arcanist {
	background-position: -376px -141px;
}
.classes.mercenary {
	background-position: 0px -188px;
}
.classes.blade {
	background-position: -47px -188px;
}
.classes.masterblade {
	background-position: -94px -188px;
}
.classes.heroblade {
	background-position: -141px -188px;
}
.classes.slayer {
	background-position: -188px -188px;
}
.classes.knight {
	background-position: -235px -188px;
}
.classes.masterknight {
	background-position: -282px -188px;
}
.classes.heroknight {
	background-position: -329px -188px;
}
.classes.templar {
	background-position: -376px -188px;
}

/***************************/
/****** RANKING PAGE *******/
/***************************/
table.ranking {
	width: 100%;
	border-spacing: 0px;
}
table.ranking tr th {
	font-weight: bold !important;
}
table.ranking tr th,
table.ranking tr td {
	font-weight: normal;
	text-align: left;
	padding: 10px;
}
table.ranking tr:nth-child(odd) {
	background: rgba(0, 151, 213, 0.08);
}

table.staff {
	width: 100%;
}
table.staff tr {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 0px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.1) inset, 0px 15px 30px rgba(255, 255, 255, 0.2) inset;
	background: #0097d5;
	padding: 6px;
	margin: 3px 0px;
	border-radius: 3px;
	min-height: 6px;
	font-size: 12px;
	color: #FFF;
	display: block;
}
table.staff tr td,
table.staff tr th {
	width: 50%;
	display: inline-block;
}

/***************************/
/********* FOOTER **********/
/***************************/
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 471px;
	background: url(./assets/footer2.jpg) no-repeat top center;
	z-index: -1;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 960px;
	margin: auto;
	color: #FFF;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	text-align: center;
}
#footer a {
	color: #FFF;
	text-decoration: none;
}
#footer a:hover {
	color: #CCC;
	border-bottom: 1px dashed #CCC;
}

/***************************/
/********** MISC ***********/
/***************************/
.clear {
	clear: both;
}
.glitch {
	color: #000;
	font-size: 100px;
	position: relative;
	width: 400px;
	margin: 0px auto;
	transform: rotateY(-50deg);
}

/***************************/
/********** 404 ************/
/***************************/
.glitch:after {
	content: "ERROR";
	position: absolute;
	left: 2px;
	text-shadow: -1px 0px #F00;
	top: 0px;
	color: #000;
	overflow: hidden;
	clip: rect(0px, 900px, 0px, 0px);
	animation: 2s linear 0s alternate-reverse none infinite noise-anim;
}
.glitch:before {
	content:"\00a0\00a0\00a0 404 \00a0\00a0\00a0";
	position: absolute;
	left: -2px;
	text-shadow: 1px 0px #00F;
	top: 0px;
	color: #FFF;
	background: #000;
	overflow: hidden;
	clip: rect(0px, 900px, 0px, 0px);
	animation: 3s linear 0s alternate-reverse none infinite noise-anim-2;
	text-transform: rotateY(50deg);
}
@keyframes noise-anim {
	0% {
		clip: rect(11px, 9999px, 13px, 0);
	}
	5% {
		clip: rect(92px, 9999px, 19px, 0);
	}
	10% {
		clip: rect(90px, 9999px, 78px, 0);
	}
	15.0% {
		clip: rect(37px, 9999px, 89px, 0);
	}
	20% {
		clip: rect(35px, 9999px, 39px, 0);
	}
	25% {
		clip: rect(21px, 9999px, 81px, 0);
	}
	30.0% {
		clip: rect(75px, 9999px, 99px, 0);
	}
	35% {
		clip: rect(36px, 9999px, 95px, 0);
	}
	40% {
		clip: rect(93px, 9999px, 48px, 0);
	}
	45% {
		clip: rect(94px, 9999px, 81px, 0);
	}
	50% {
		clip: rect(32px, 9999px, 14px, 0);
	}
	55.0% {
		clip: rect(2px, 9999px, 72px, 0);
	}
	60.0% {
		clip: rect(95px, 9999px, 36px, 0);
	}
	65% {
		clip: rect(7px, 9999px, 59px, 0);
	}
	70% {
		clip: rect(92px, 9999px, 42px, 0);
	}
	75% {
		clip: rect(12px, 9999px, 60px, 0);
	}
	80% {
		clip: rect(64px, 9999px, 78px, 0);
	}
	85.0% {
		clip: rect(93px, 9999px, 74px, 0);
	}
	90% {
		clip: rect(75px, 9999px, 65px, 0);
	}
	95% {
		clip: rect(67px, 9999px, 5px, 0);
	}
	100% {
		clip: rect(60px, 9999px, 43px, 0);
	}
}
@keyframes noise-anim-2 {
	0% {
		clip: rect(91px, 9999px, 65px, 0);
	}
	5% {
		clip: rect(1px, 9999px, 88px, 0);
	}
	10% {
		clip: rect(98px, 9999px, 94px, 0);
	}
	15.0% {
		clip: rect(41px, 9999px, 84px, 0);
	}
	20% {
		clip: rect(43px, 9999px, 37px, 0);
	}
	25% {
		clip: rect(19px, 9999px, 78px, 0);
	}
	30.0% {
		clip: rect(90px, 9999px, 97px, 0);
	}
	35% {
		clip: rect(37px, 9999px, 55px, 0);
	}
	40% {
		clip: rect(1px, 9999px, 35px, 0);
	}
	45% {
		clip: rect(25px, 9999px, 41px, 0);
	}
	50% {
		clip: rect(95px, 9999px, 94px, 0);
	}
	55.0% {
		clip: rect(56px, 9999px, 50px, 0);
	}
	60.0% {
		clip: rect(12px, 9999px, 68px, 0);
	}
	65% {
		clip: rect(72px, 9999px, 81px, 0);
	}
	70% {
		clip: rect(13px, 9999px, 25px, 0);
	}
	75% {
		clip: rect(100px, 9999px, 20px, 0);
	}
	80% {
		clip: rect(52px, 9999px, 85px, 0);
	}
	85.0% {
		clip: rect(51px, 9999px, 51px, 0);
	}
	90% {
		clip: rect(69px, 9999px, 25px, 0);
	}
	95% {
		clip: rect(50px, 9999px, 17px, 0);
	}
	100% {
		clip: rect(66px, 9999px, 59px, 0);
	}
}

/***************************/
/******** NOTICES **********/
/***************************/
.success {
    background-color: rgb(223, 240, 216);
    border-color: rgb(214, 233, 198);
    color: rgb(60, 118, 61);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
}
.failure {
    background-color: rgb(242, 222, 222);
    border-color: rgb(235, 204, 209);
    color: rgb(169, 68, 66);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
}

/***************************/
/******* STATISTICS ********/
/***************************/
.statistic {
	text-align: center;
	float: left;
	width: 25%;
	background: #282A2E;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 18px 15px;
	margin: 10px;
	color: #FFF;
}
.statistic:hover {
	background: #0097D5;
}
.statistic span.number {
	display: block;
	font-size: 56px;
	font-weight: bold;
	
}
.statistic span.type {
	display: block;
}

/***************************/
/******* AGREEMENT *********/
/***************************/
ol.agreement {
	font-size: 12px;
}
ol.agreement li {
	margin: 10px 0px;
}

/***************************/
/******* DOWNLOADS *********/
/***************************/
table#system-requirements {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	margin-top: 10px;
}
table#system-requirements tr td,
table#system-requirements tr th {
	padding: 6px;
}
table#system-requirements tr:nth-child(odd) {
	background: rgba(0, 151, 213, 0.08);
}

/***************************/
/******* COUNTDOWN *********/
/***************************/
/* jQuery Countdown styles 2.0.0. */
.is-countdown {
	color: #FFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
	float: left;
	width: calc(100% - 1%);
	border-radius: 5px;
	background-color: #f7a80f;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-size: 25px 25px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
	border: 1px solid #f7a80f;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #fff;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown-amount {
    font-size: 200%;
}
.countdown-period {
    display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}

/***************************/
/******* ITEM MALL *********/
/***************************/
#mall-nav {
	float: left;
	width: 24%;
}
#mall-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#mall-nav ul li {
	margin: 0;
	padding: 0;
	display: block;
}
#mall-nav ul li a {
	padding: 8px;
	display: block;
}
#mall-items-row {
	float: left;
	width: 74%;
}
.mall-row {
	display: block;
	float: left;
	width: 100%;
}
.mall-item {
	float: left;
	width: 26%;
	margin: 5px;
	padding: 10px;
	border-bottom: 3px solid #0097d5;
	background: #FFF;
	text-align: center;
}
.mall-item p,
.mall-item b,
.mall-item strong {
	text-align: left;
}
strong.mall-item-name {
	text-align: center !important;
}
.modal {
	color: #000;
	font-size: 12px;
}

/***************************/
/******* PAGINATION ********/
/***************************/
ul.pagination {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.pagination li {
	display: inline;
	margin: 0;
	padding: 0;
}
ul.pagination li a:first-of-type {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
ul.pagination li a:last-of-type {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
ul.pagination li a {
	padding: 6px;
	margin: 0px;
	background: #FFF;
	display: inline;
}

/***************************/
/********* TWITTER *********/
/***************************/
#twitter-widget-0 {
	height: 300px !important;
}

/***************************/
/******* RESPONSIVE ********/
/***************************/
@media screen and (max-width: 959px) {
	.cell.sidebar { display: none; }
	#vote-panel { display: none; }
	footer, #footer, .cell.main, header .characters, header, #accordion, nav ul, .container { width: 100%; }
}
@media screen and (max-width: 720px) {
	ul.main-nav { display: none; }
	ul.mobile-nav { display: block; }
	nav footer div { display: none; }
	nav footer { margin: 0; padding: 0; }
	header .characters { display: none; }
}