.Patcher {
  height: 100% !important;
  font-family: Arial, sans-serif !important;
  background: #5c80a2 !important;
  font-size: 8pt !important;
}
.Patcher h4 {
  color: #FFF !important;
  text-transform: uppercase !important;
  margin: 5px 0px !important;
  padding: 0 !important;
  font-family: 'Oswald', sans-serif !important;
  font-size: 14pt !important;
}
.Patcher .container {
  width: 190px;
  float: left;
}
.Patcher .section {
  width: 100%;
}

.Patcher table tbody {
  background: #537391;
}
.Patcher a {
  color: #FFF !important;
  text-decoration: none !important;
}
.Patcher a:hover {
  color: #d3d3d3 !important;
}